
{% extends "base.html" %}
{% block content %}

<div class="container" >

      <div class="row row-offcanvas row-offcanvas-right" style="margin-top: 50px;">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

              {% include "clock.html" %}

          <div class="row">
              {% for talk_ in talks %}
              {% include "_talk_viewer.html" %}
              {% endfor %}
           <!--/.col-xs-6.col-lg-4-->

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
      </div>
    <canvas width="50px" height="60px"></canvas>

</div>

{% endblock %}
